[submodule "external/djinni"]
	path = external/djinni
	url = https://github.com/UbiqueInnovation/djinni.git
[submodule "external/earcut/earcut"]
	path = external/earcut/earcut
	url = git@github.com:mapbox/earcut.hpp.git
