[submodule "external/djinni"]
	path = external/djinni
	url = https://github.com/UbiqueInnovation/djinni.git
[submodule "external/earcut/earcut"]
	path = external/earcut/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "external/protozero/protozero"]
	path = external/protozero/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "external/vtzero/vtzero"]
	path = external/vtzero/vtzero
	url = https://github.com/mapbox/vtzero.git
