name: android

on:
  pull_request:
    branches: [ main, develop, release/** ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
           submodules: 'recursive'
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
      - name: Build with Gradle
        env:
          UB_ARTIFACTORY_URL_ANDROID: ${{secrets.UBIQUE_ARTIFACTORY_URL}}
          UB_ARTIFACTORY_USER: ${{secrets.UBIQUE_ARTIFACTORY_USER}}
          UB_ARTIFACTORY_PASSWORD: ${{secrets.UBIQUE_ARTIFACTORY_PASS}}
        run: cd android; ./gradlew assembleDebug -P'android.injected.build.abi=arm64-v8a'
